.btn {
    font-size: 58px;
}

.btn_blue {
    background-color: rgb(81, 170, 242);
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    padding: 1px;
    height: 100px;
}

.btn_grey {
    background-color: rgb(178, 87, 87);
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    padding: 1px;
    height: 100px;
}

.btn_orange {
    background-color: rgb(80, 189, 65);
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    padding: 1px;
    height: 100px;
}

.screen_black {
    font-family: 'VT323', monospace;
    font-size: 84px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    background-color: black;
    color: rgb(117, 251,76);
    text-align: right;
    height: 100px;
}