{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}">
    <title>Todo</title>
</head>

<body>
    <form action="post/" method="post">
        {% csrf_token %}
        <textarea name="todo_description"></textarea>
        <label for="priority">Choose a Priority Level:</label>
        <select name="priority" id="priority">
        {% for priority in priorities %}
            <option value="{{priority.id}}">{{priority.state}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Todo">
    </form> 
    <h1>Uncompleted Todo's</h1>
    {% for todo in todos %}
        {% if todo.completed_date == None %}
            <div class="uncompleted">
                <div class="todo">
                    <h2>{{todo.todo_description}}</h2>
                    <p>({{todo.priority}})</p>
                </div>
                <p>{{todo.created_date}}</p>
                <a href="completed/{{todo.id}}/">Completed Todo</a>
                <a href="remove/{{todo.id}}/">Remove Todo</a>
            </div>
        {% endif %}
    {% endfor %}
    <h1>Completed Todo's</h1>
    {% for todo in todos %}
        {% if todo.completed_date != None %}
            <div class="completed">
                <div class="todo">
                    <h2 style='color:red;text-decoration:line-through'>{{todo.todo_description}}</h2>
                    <p style='color:red;text-decoration:line-through'>({{todo.priority}})</p>
                </div>
                <p style='color:red;text-decoration:line-through'> {{todo.created_date}}</p>
                <p style='color:red;text-decoration:line-through'>{{todo.completed_date}}</p>
                <a style='color:red;text-decoration' href="remove/{{todo.id}}/">Remove Todo</a>
            </div>
        {% endif %}
    {% endfor %}

</body>

</html>