{% extends "support/base.html" %}

{% load static %}

{% block header %}<title>Reponse Dashboard</title>{% endblock %}

{% block breadtrail %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Response</li>
  </ol>
</nav>
{% endblock %}


{% block content %}
    <div>
        <form action="{% url 'support:index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title: " required>
            <input type="email" name="email" placeholder="your@email.com" required>
            <input type="textfield" name="message" placeholder="Discribe your issue" required>
            <input type="file" name="image" accept="image/*">
            <input type="text" name="iphone" placeholder="Phone Model" required>
            <input type="text" name="ios" placeholder="iOS Version" required>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
