
.uncompleted {
    color:rgb(0, 0, 0);
    font-size: 18px;
}

.uncompleted .todo {
    display: flex;
    justify-content: left;
}

.uncompleted .todo a {
    text-decoration: none;
}

.completed {
    color:rgb(111, 111, 111);
    text-decoration:line-through;
}

.completed .todo {
    display: flex;
    justify-content:left;
}

.completed .todo a {
    text-decoration: none;
}

a:link {
    padding-right: 60px;
    text-decoration: none;
}