<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- External CSS -->
    <link rel="stylesheet" href="css/vueweather.css" type="text/css" />
    <script src="javascript/secret.js"></script>

    <title>Dark Days</title>
</head>

<body>
    <div id="app" class="container">

        <div class="jumbotron">
            <h1>Dark Days</h1>
            <p>Dark Days is a 7 day weather forecast based on your current location</p>
        </div>
        <div class="row align-items-center">

            <div class="col-8">
                <div v-if="loading">
                    <p>Fetching weather data...</p>
                </div>
                <div v-if="!loading">
                    <pre>
                    Date/Time: {{ day.dt }}
                    Clouds: {{ day.clouds }}%
                    DewPoint: {{ day.dew_point }}&deg;
                    Feels Like: {{ day.feels_like }}&deg;F
                    Humdity: {{ day.humidity }}%
                    Pressure: {{ day.pressure}}in
                    Rain: {{ day.rain }}
                    Sunrise: {{ day.sunrise }}
                    Sunset: {{ day.sunset }}
                    Tempature: {{ day.temp }}&deg;F
                    UVI: {{ day.uvi }}
                    Weather:{{ day.weather[0].description }}
                    Wind Degree: {{ day.wind_deg }}&deg;
                    Wind Speed: {{ day.wind_speed }} mph
                    </pre>
                </div>
            </div>
            <div class="col-4">
                <div v-if="loading">
                    <p>...</p>
                </div>
                <div v-if="!loading">
                    <img v-bind:src="this.weather_icon" />
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <!-- Vue JS - Must come before page javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <!-- Page JS -->
    <script src="javascript/vueweather.js"></script>
</body>

</html>